<div class="add-and-feed">
  <% if user_signed_in? %>
      <div class="simple-match">
        <%= render partial: 'simple_matches/form', locals: { simple_match: @simple_match } %>
      </div>
  <% end %>

  <div class="feed">
    Feed of stuff here
  </div>
</div>

<div class="standings">
  Standings go here
</div>