<%= link_to "Play a game!", challenges_path, class: 'button-green top-button' %>
<div class="challenges">
    <%= link_to "Challenges".html_safe, challenges_path %> <%= link_to "Log&nbsp;a&nbsp;game".html_safe, new_game_path %>
</div>
<table class="leaderboard">
  <tr>
    <th class="left">Rank</th>
    <th class="left">Name</th>
    <th>Rating</th>
    <th>Wins</th>
    <th>Losses</th>
  </tr>
  <%= render collection: @leaderboard_users, partial: 'leaderboard_user' %>
</table>
