<tr>
  <td class="left">
    <%= outgoing_challenge.away_user.full_name %>
  </td>
  <td class="left">
    <%= outgoing_challenge.created_at.strftime('%m/%d/%Y') %>
  </td>
  <td class="right">
    <%= button_to "Nudge", '#', class: 'small-button'  %>
  </td>
</tr>
