<h2>Incoming challenges</h2>

<table>
  <thead>
    <th>Challenger</th>
    <th>Challenged on</th>
    <th>Actions</th>
  </thead>
</table>

<h2>Awaiting response</h2>
<table>
  <thead>
    <th>Challenged</th>
    <th>CHallenged on</th>
    <th>Actions <%# maybe we can bug the user %></th>
  </thead>
</table>
