<%= link_to "Challenge an opponent!", new_challenge_path, class: 'button-green top-button' %>

<h2 class="extra-margin">Challenges received:</h2>

<table>
  <tbody>
    <%= render partial: 'incoming_challenge', collection: @incoming_challenges, as: :incoming_challenge %>
  </tbody>
</table>

<h2>Challenges sent:</h2>
<table>
  <tbody>
    <%= render partial: 'outgoing_challenge', collection: @outgoing_challenges, as: :outgoing_challenge %>
  </tbody>
</table>
