<h2 class="extra-margin">Challenge an opponent</h2>
<%= simple_form_for @challenge, url: challenges_path do |f| %>
  <%= f.error :base %>
  <%= f.input :away_user_id, as: :select, label: 'Who?', collection: @challenge.available_opponents, include_blank: false %>
  <%= f.submit 'Send challenge' %>
<% end %>
