body {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 16px;
}

h1 {
    font-size: 24px;
    line-height: 1.5em;
    color: black;

    @media (max-width: 800px) {
        font-size: 18px;
    }

    @media (max-width: 500px) {
        font-size: 16px;
    }
}

h2 {
    padding-bottom: 20px;

    @media (max-width: 500px) {
        font-size: 18px;
        line-height: 1.5em;
    }
}

p {

}

table {
    font-size: 16px;
    line-height: 1.5em;
}

input[type="submit"] {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 16px;
}
