body {
    font-family: 'Press Start 2P', cursive !important;
    color: white;
    font-size: 16px;

    label {
        color: white;
    }

    h1 {
        font-size: 24px;
        line-height: 1.5em;
        color: black;

        @media (max-width: 800px) {
            font-size: 18px;
        }

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }

    h2 {
        font-size: 21px;
        line-height: 1.5em;
        color: white;
        padding-bottom: 20px;

        @media (max-width: 500px) {
            font-size: 18px;
            line-height: 1.5em;
        }
    }

    h3 {
        font-size: 160px;
        line-height: 1em;
        color: white;
        margin: 0;

        @media (max-width: 500px) {
            font-size: 120px;
            line-height: 1.5em;
        }
    }

    h4 {
        font-size: 24px;
        line-height: 1.5em;
        color: #999999;

        @media (max-width: 500px) {
            font-size: 18px;
            line-height: 1.5em;
        }
    }

    .notice {
        color: #e63131;
    }

    table {
        font-size: 16px;
        line-height: 1.5em;
    }

    input[type="submit"] {
        font-family: 'Press Start 2P', cursive;
        color: white;
        font-size: 16px;

        &:hover {
            text-decoration: none;
        }
    }
}
