
  <%= simple_form_for @live_game, url: live_games_path do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <label>Player 1</label>
        </div>
        <div class="row">
          <%= f.input :home_user_id, as: :select, label: false, collection: @available_users, include_blank: false %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <label>Player 2</label>
        </div>
        <div class="row">
          <%= f.input :away_user_id, as: :select, label: false, collection: @available_users, include_blank: false %>
        </div>
      </div>
    </div>
    <%= f.submit 'Start Game' %>
  <% end %>
