<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class"col-sm-2 col-offset-sm-5" id="server-ball">
      </div>
    </div>

    <div class="row">
      <div class="col-offset-sm-2 col-sm-4">
        <h3><%= @live_game.home_user_score %></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-offset-sm-2 col-sm-4">
        <h4><%= @live_game.home_user.full_name %></h4>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class"col-sm-2 col-offset-sm-5" id="server-ball">

      </div>
    </div>

    <div class="row">
      <div class="col-offset-sm-2 col-sm-4">
        <h3><%= @live_game.away_user_score %></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-offset-sm-2 col-sm-4">
        <h4><%= @live_game.away_user.full_name %></h4>
      </div>
    </div>
  </div>
</div>
